<md-content md-theme="dark" class="md-padding" layout="row" layout-sm="column">
     <md-button class="md-raised " ng-click="vm.signIn()">
        Sign in
    </md-button>
    <md-select ng-model="vm.userSignIn" placeholder="{{user.userName}}" class="md-no-underline">
      <md-option ng-repeat="user in vm.users" value="{{user.userId}}">{{user.userName}}</md-option>
    </md-select>
</md-content>
<md-content class="md-padding"></md-content>
<h2>{{vm.search.title}}</h2>
<md-content class="md-padding" layout="row" layout-sm="column" style="width:70%">
	    <md-input-container class="md-block" style="width:100%">
	        <label>description</label>
	        <textarea  ng-model="vm.search.description" d-maxlength="500" rows="5" disabled></textarea>
	    </md-input-container>
</md-content>
<md-content layout-padding>
    <div>
      	<form name="jobSearchForm">
	        <div layout-gt-xs="row">
	          <md-input-container class="md-block" flex-gt-xs>
	            <label>Gross Salary</label>
        		<input  ng-model="vm.search.grossSalary" disabled></input>
	          </md-input-container>

	          <md-input-container>
	            <label>Job Type</label>
	            <input ng-model="vm.search.jobType" disabled></md-input>
	          </md-input-container>
	        </div>
		</form>	
	</div>
</md-content>