<!-- TODO: Add validations -->
<md-content md-theme="dark" class="md-padding" layout="row" layout-sm="column">
    <md-input-container>
        <label>Username</label>
        <input ng-model="vm.user.userName">
    </md-input-container>
    <md-input-container>
        <label>Email</label>
        <input ng-model="vm.user.email" type="email">
    </md-input-container>
</md-content>
<md-content class="md-padding">
    <form name="userForm">
        <div layout layout-sm="column">
            <md-input-container flex>
                <label>First Name</label>
                <input ng-model="vm.user.firstName"
                       placeholder="Placeholder text">
            </md-input-container>
            <md-input-container flex>
                <label>Last Name</label>
                <input ng-model="vm.user.lastName">
            </md-input-container>
            <md-input-container flex>
                <label>Age</label>
                <input type="number" ng-model="vm.user.age">
            </md-input-container>
        </div>
        <md-input-container flex>
            <label>Address</label>
            <input ng-model="vm.user.address">
        </md-input-container>
        <md-input-container flex>
            <label>Telephone</label>
            <input ng-model="vm.user.telephone">
        </md-input-container>
    </form>
</md-content>
<md-content md-theme="dark" class="md-padding" layout="row" layout-sm="column">
        <label>Skills</label>
        <ul ng-repeat="skill in vm.user.skills">
        	<li>{{skill}}</li>
        </ul>
</md-content>
<md-content class="md-padding"></md-content>
<md-content md-theme="dark" class="md-padding" layout="row" layout-sm="column">
	 <md-button class="md-raised " ng-click="vm.save()">
        Save
    </md-button>
     <md-button class="md-raised md-warn" ng-click="vm.cancel()">
        Cancel
    </md-button>
</md-content>

